<!-- <footer
  class="footer d-flex flex-column justify-content-center align-items-center bg-primary mt-5"
>
  <ul class="footer__smedia d-flex mt-5 list-unstyled">
    <li class="footer__smedia-item col-3">
      <a class="footer__smedia-link" href="#" title="Icono Facebook"
        ><i class="fa-brands fa-facebook fa-2x"></i
      ></a>
    </li>
    <li class="footer__smedia-item col-3">
      <a href="#" title="Icono Instagram"
        ><i class="fa-brands fa-instagram fa-2x"></i
      ></a>
    </li>
    <li class="footer__smedia-item col-3">
      <a href="#" title="Icono X"
        ><i class="fa-brands fa-x-twitter fa-2x"></i
      ></a>
    </li>
    <li class="footer__smedia-item col-3">
      <a href="#" title="Icono Youtube"
        ><i class="footer__smedia-item-icon fa-brands fa-youtube fa-2x"></i
      ></a>
    </li>
  </ul>
  <a class="footer__logo mt-5" href="index.html">
    <img
      class="footer__logo-img"
      src="/src/assets/images/logo-fondo-oscuro.png"
      alt="Logotipo del Plato de Mataró"
      srcset="
        /src/assets/images/logo-fondo-oscuro.png?width=160 1x,
        /src/assets/images/logo-fondo-oscuro.png?width=320 2x,
        /src/assets/images/logo-fondo-oscuro.png?width=500 3x
      "
      width="150"
      height="150"
      loading="lazy"
    />
  </a>
  <div class="footer__links d-flex flex-row mt-5">
    <div class="footer__links-sections">
      <h3 class="footer__links-subtitle">ENLACES A PÁGINAS</h3>
      <ul class="footer__links-list list-unstyled">
        <li class="footer__links-item"><a href="index.html">Inicio</a></li>
        <li class="footer__links-item"><a href="speakers.html">Speakers</a></li>
      </ul>
    </div>
    <div class="footer__links-terms">
      <h3 class="footer__links-subtitle">Términos Legales</h3>
      <ul class="footer__links-list list-unstyled">
        <li class="footer__links-item"><a href="#">Aviso Legal</a></li>
        <li class="footer__links-item">
          <a href="#" class="">Política de Cookies</a>
        </li>
        <li class="footer__links-item">
          <a href="#">Política de privacidad</a>
        </li>
      </ul>
    </div>
  </div>
  <p class="footer__copyright">2025 &copy; David Pecharromán López</p>
</footer> -->

<footer class="footer bg-primary">
  <div class="container-fluid pt-5">
    <ul class="footer__smedia row justify-content-center list-unstyled">
      <li class="footer__smedia-item col-auto">
        <a class="footer__smedia-link" href="#" title="Icono Facebook"
          ><i class="fa-brands fa-facebook fa-2x"></i
        ></a>
      </li>
      <li class="footer__smedia-item col-auto">
        <a href="#" title="Icono Instagram"
          ><i class="fa-brands fa-instagram fa-2x"></i
        ></a>
      </li>
      <li class="footer__smedia-item col-auto">
        <a href="#" title="Icono X"
          ><i class="fa-brands fa-x-twitter fa-2x"></i
        ></a>
      </li>
      <li class="footer__smedia-item col-auto">
        <a href="#" title="Icono Youtube"
          ><i class="footer__smedia-item-icon fa-brands fa-youtube fa-2x"></i
        ></a>
      </li>
    </ul>

    <div class="row justify-content-center align-items-center">
      <div class="col-auto mt-5">
        <a class="footer__logo" href="index.html">
          <img
            class="footer__logo-img"
            src="/src/assets/images/logo-fondo-oscuro.png"
            alt="Logotipo de economia-circular"
            srcset="
              /src/assets/images/logo-fondo-oscuro.png?width=160 1x,
              /src/assets/images/logo-fondo-oscuro.png?width=320 2x,
              /src/assets/images/logo-fondo-oscuro.png?width=500 3x
            "
            width="150"
            height="150"
            loading="lazy"
          />
        </a>
      </div>
    </div>
    <div class="row mt-5 justify-content-center align-items-center">
      <div class="col-12 col-md-6 text-center">
        <h3 class="footer__links-subtitle">Enlaces a Páginas</h3>
        <ul class="footer__links-list list-unstyled">
          <li class="footer__links-item"><a href="index.html">Inicio</a></li>
          <li class="footer__links-item">
            <a href="speakers.html">Speakers</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 text-center">
        <h3 class="footer__links-subtitle">Términos Legales</h3>
        <ul class="footer__links-list list-unstyled">
          <li class="footer__links-item"><a href="#">Aviso Legal</a></li>
          <li class="footer__links-item">
            <a href="#">Política de Cookies</a>
          </li>
          <li class="footer__links-item">
            <a href="#">Política de privacidad</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center text-secondary">
        <p class="footer__copyright">2025 &copy; David Pecharromán López</p>
      </div>
    </div>
  </div>
</footer>
