<!-- <header>

  <nav>
    <ul>
      <li><a href="index.html">Inicio</a></li>
      <li><a href="page1.html">Página 1</a></li>

    </ul>
  </nav>
</header> -->

<header class="header bg-primary">
  <nav class="header__navbar navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="header__navbar-link navbar-brand" href="index.html">
        <img
          src="/src/assets/images/logo-fondo-oscuro.png"
          alt="Logo Economía Circular"
          width="80"
          height="80"
        />
      </a>

      <button
        class="navbar-toggler border-white"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="header__navbar-button-icon navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto me-5">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="speakers.html">Charlas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
