/****************************
  VARIABLES
  *****************************/

// :root {
//   --primary-color: #{$marca-primary};
//   --primary-light-color: #{$marca-primary-light};
//   --secondary-color: #{$marca-secondary};
//   --secondary-light-color: #{$marca-secondary-light};
//   --terciary-color: #{$marca-terciary};

//   --bg-color: #{$fondo};
//   --bg-fondo-transparente: #{$fondo-transparente};

//   --main-font: #{$font-primary};

//   --alto-header: #{$alto-header};
// }
/****************************
  Estilos generales
  *****************************/

/* *,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {

  font-family: var(--main-font);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}
iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border: 0;
}
img {
  max-width: 100%;
  height: auto;
}
 */

/****************************
  general config
  *****************************/

:is(.speakers, .blog) {
  display: flex;
  flex-direction: column;
}
