@use "sass:color";

.btn-primary {
  @include button-variant(
    $background: $primary,
    $border: $primary,
    $color: $secondary,
    $hover-background: shade-color($primary, 10%),
    $hover-border: shade-color($primary, 10%),
    $hover-color: $secondary,
    $active-background: shade-color($primary, 20%),
    $active-border: shade-color($primary, 20%),
    $active-color: $secondary,
    $disabled-background: $primary,
    $disabled-border: $primary,
    $disabled-color: $secondary
  );
}

.bg-primary a {
  color: $secondary;
}

.bg-primary a:hover {
  color: color.adjust($primary, $lightness: 10%);
}
