@use "sass:color";

$primary: rgb(0, 156, 132);
$secondary: #ecfbff;

$body-font-family: "Roboto", sans-serif;
$font-family-sans-serif: "Roboto", sans-serif;
$body-font-weight: 200;
$font-weight-normal: 300;
//$headings-line-height: 6rem;
//$font-size-base: 1.2rem;

/* $font-weight-light: 300;
$font-weight-normal: 200;
$font-weight-bold: 700;
$headings-font-weight: 800; */
//$nav-link-hover-color: lighten(red, 30%);
$link-decoration: none;
/* $link-color: #ecfbff;
$link-hover-color: #b6efe6; */
$btn-color: #ecfbff;
$badge-font-size: 0.5em;

//breakpoints
$mqSm: 576px;
$mqMd: 768px;
$mqLg: 992px;
$mqXl: 1200px;
$mqXxl: 1400px;
